<h1>Signup!</h1>

<%= form_for :user, url: '/users' do |f| %>
<% if flash.alert %>
<div class="alert alert-danger" role="alert">
      <%= flash.alert %> 
    </div>
<% end %>
<div class="container">
  First Name<div><%= f.text_field :first_name %></div>
  Last Name<div><%= f.text_field :last_name %></div>
  Email<div><%= f.text_field :email %></div>
  Password<div><%= f.password_field :password %></div>
  Password Confirmation<div><%= f.password_field :password_confirmation %></div>
  <%= f.submit "Submit", class: "btn btn-primary" %>
</div>
<% end %>

